*.debhelper.log
*.debhelper
*.substvars
files
libmlocale-benchmarks-dbg/
libmlocale-benchmarks/
libmlocale-dev/
libmlocale-doc/
libmlocale-tests-dbg/
libmlocale-tests/
libmlocale0-dbg/
libmlocale0/
tmp/
