Source: libmlocale
Section: libs
Priority: extra
Maintainer: Holger Schröder <holger.schroeder.ext@basyskom.de>
Build-Depends: debhelper (>= 5),
 libqt4-dev (>= 4.7.4~git20110728-0maemo1+0m6),
 libicu-dev (>= 4.4.2-0maemo9),
 doxygen (>=1.5.9),
 pkg-config (>= 0.22)
Standards-Version: 3.7.2

Package: libmlocale0
Section: libs
Architecture: any
Depends: ${misc:Depends},
 ${launcher:Depends},
 ${shlibs:Depends},
 libicu44 (>= 4.4.2-0maemo9)
Description: MeeGo Touch core library
 MeeGo Touch core framework library

Package: libmlocale0-dbg
Section: devel
Architecture: any
Depends: libmlocale0 (= ${Source-Version})
Description: libmlocale debug package
 libmlocale debug symbols.

Package: libmlocale-dev
Section: devel
Architecture: any
Depends: libmlocale0 (= ${Source-Version}),
 libqt4-dev (>= 4.6.0)
Description: MeeGo Touch development files
 Development files for MeeGo Touch

Package: libmlocale-tests
Section: devel
Architecture: any
Depends: ${shlibs:Depends},
 posix-locales
Description: libmlocale unit tests
 Unit testing binaries and shellscripts for testing libmlocale library

Package: libmlocale-tests-dbg
Section: devel
Architecture: any
Depends: libmlocale-tests (= ${Source-Version})
Description: libmlocale-tests debug package
 libmlocale-tests debug symbols.

Package: libmlocale-benchmarks
Section: devel
Architecture: any
Depends: ${shlibs:Depends}
Description: libmlocale benchmarks
 Benchmarking binaries for testing libmlocale library

Package: libmlocale-benchmarks-dbg
Section: devel
Architecture: any
Depends: libmlocale-benchmarks (= ${Source-Version})
Description: libmlocale-benchmarks debug package
 libmlocale-benchmarks debug symbols.

Package: libmlocale-doc
Section: doc
Architecture: all
Description: API documentation for libmlocale
